.logo{
    width: 40%;
    margin-left: 438px;
    margin-top: -76px;
}
.tombol_buka_warung{
    margin-top: 103px;
}
.search{
    margin-top: -82px;
    padding-bottom: 27px;
}
.gambar_warung{
    width:100%;
}
.home_lihat{
    margin-left: 252px;
}
.warung1{
    padding-bottom: 30px;
}
